<div class="ui borderless stackable main menu">
  <div href="#" class="header item app-font">
    Naive fly
  </div>
  <a class="item" href="{{ url_for('classic_styles') }}">Estilos</a>
  <a class="item" href="{{ url_for('place') }}">Recinto</a>
  <a class="item" href="{{ url_for('gender') }}">Sexo</a>
  <a class="item" href="{{ url_for('styles') }}">Estilos 2</a>
  <a class="item" href="{{ url_for('professor') }}">Profesor</a>
  <a class="item" href="{{ url_for('network') }}">Redes</a>
  <div class="right menu">
    <a href="https://twitter.com/richin13cr" target="_blank" class="item"><i class="twitter icon"></i></a>
    <a href="https://github.com/richin13" target="_blank" class="item"><i class="github icon"></i></a>
  </div>
</div>