.borderless {
    border-radius: 0;
    border: none;
}

.borderful {
    border: 1px solid rgba(34, 36, 38, .15);
}

.shadowless {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.app-boder {
    border-bottom: 1px solid rgba(34, 36, 38, .15);
}
