{% extends 'layout.html' %}

{% block content %}
  <div class="ui huge header">
    <div class="content">
      Profesores
      <div class="sub header">Clasificación usando Naive Bayes</div>
    </div>
  </div>
  <p>Con este formulario se pretende determinar el nivel o tipo de un profesor de acuerdo a sus datos de experiencia y conocimiento.</p>
  {% include 'includes/_result.html' %}
  <div class="ui divider"></div>
  <form action="{{ url_for('professor') }}" method="post" class="ui form {% if form.errors %}error{% endif %}">
    {{ form.hidden_tag() }}
    <div class="ui stackable centered grid">
      <div class="sixteen column row">
        <div class="sixteen wide column">
          <div class="ui stackable segment">
            <div class="two fields">
              <div class="field">
                {{ form.a.label }}
                {{ form.a(class_='ui dropdown') }}
              </div>
              <div class="field">
                {{ form.b.label }}
                {{ form.b(class_='ui dropdown') }}
              </div>
            </div>
            <div class="two fields">
              <div class="field">
                {{ form.c.label }}
                {{ form.c(class_='ui dropdown') }}
              </div>
              <div class="field">
                {{ form.d.label }}
                {{ form.d(class_='ui dropdown') }}
              </div>
            </div>
            <div class="two fields">
              <div class="field">
                {{ form.e.label }}
                {{ form.e(class_='ui dropdown') }}
              </div>
              <div class="field">
                {{ form.f.label }}
                {{ form.f(class_='ui dropdown') }}
              </div>
            </div>
            <div class="two fields">
              <div class="field">
                {{ form.g.label }}
                {{ form.g(class_='ui dropdown') }}
              </div>
              <div class="field">
                {{ form.h.label }}
                {{ form.h(class_='ui dropdown') }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sixteen column row">
        <div class="sixteen wide column">
          <button class="ui right floated primary big button" type="submit"><i
              class="send icon"></i>Enviar
          </button>
          <button class="ui right floated big button" type="reset"><i class="undo icon"></i>Resetear</button>
        </div>
      </div>
    </div>
  </form>
  <div class="ui divider"></div>
{% endblock %}